/* Google 폰트를 가져와서 본문 텍스트에 적용합니다 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

/* 본문에 기본 스타일 초기화 */
body {
  font-family: "Noto Sans KR", sans-serif; /* 전체 문서에 대한 글꼴 지정 */
  background-color: #ffffff; /* 배경 색상을 흰색으로 설정 */
  margin: 0; /* 기본 여백 제거 */
  padding: 0; /* 기본 패딩 제거 */
}

/* 주요 제목 (h1)에 대한 스타일링 */
h1 {
  color: #333; /* 텍스트 색상 */
  text-align: center; /* 텍스트 가운데 정렬 */
  padding-bottom: 20px 0; /* 하단 여백 20px와 0 (주의: 0은 효과 없음) */
  font-size: 2rem; /* 글꼴 크기를 2rem(32px)로 설정 */
}

/* 'help-content' 클래스를 가진 요소에 대한 스타일링 */
.help-content {
  padding: 0 7.7%; /* 가로 여백을 7.7%로 지정 */
}

/* 버튼에 대한 스타일링 */
button {
  /* 버튼 스타일링 */
}

button:hover {
  /* 버튼 호버 시 스타일링 */
}

/* 이미지 업로드 섹션에 대한 스타일링 */
.image-upload {
  /* 이미지 업로드 섹션 스타일링 */
}

/* 파일 업로드 버튼에 대한 스타일링 */
.file-upload-btn {
  /* 파일 업로드 버튼 스타일링 */
}

/* 이미지 업로드 컨테이너에 대한 스타일링 */
.image-upload-wrap {
  /* 이미지 업로드 컨테이너 스타일링 */
}

/* 업로드된 이미지에 대한 스타일링 */
.file-upload-image {
  /* 업로드된 이미지 스타일링 */
}

/* 파일 업로드 콘텐츠에 대한 스타일링 */
.file-upload-content {
  /* 파일 업로드 콘텐츠 스타일링 */
}

/* 이미지 제목에 대한 스타일링 */
.image-title-wrap {
  /* 이미지 제목 스타일링 */
}

/* '이미지 삭제' 버튼에 대한 스타일링 */
.remove-image {
  /* '이미지 삭제' 버튼 스타일링 */
}

.remove-image:hover {
  /* '이미지 삭제' 버튼 호버 시 스타일링 */
}

/* 결과 상자에 대한 스타일링 */
.result-box {
  /* 결과 상자 스타일링 */
}

/* 네비게이션 거리에 대한 스타일링 */
.nav-distance {
  /* 네비게이션 거리 스타일링 */
}

/* 네비게이션 토글러에 대한 스타일링 */
.navbar-toggler {
  /* 네비게이션 토글러 스타일링 */
}

/* 화면 폭이 600px 이하인 경우의 미디어 쿼리 */
@media screen and (max-width: 600px) {
  /* 화면 폭이 600px 이하일 때 적용되는 스타일 */
  html {
    font-size: 10px; /* 기본 글꼴 크기 조정 */
  }

  .navbar-brand {
    font-size: 2rem; /* 네비게이션 로고의 글꼴 크기 조정 */
  }

  /* 작은 화면에 대한 추가 스타일은 여기에 추가할 수 있습니다 */
}

/* 'strbut' 클래스를 가진 요소에 대한 스타일링 */
.strbut {
  /* 'strbut' 클래스 스타일링 */
}
